<section class="vh-100 bg-dark">
    <div class="container h-100">
       <div class="row align-items-center h-100">
        <div class="col-12">
            <div class="row justify-content-center gx-md-0 h-100">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-primary rounded-start-3 d-flex flex-column justify-content-center gap-2 h-100">
                          <img src="assets/matthew-mcbrayer-qD9xzm7yK9U-unsplash.webp" class="w-100" alt="not found">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded-end-3 p-3 h-100">
                        <router-outlet/>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>